@import "../vars.scss";

.wrapper {
    position: relative;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    @include font(#141820, 0.6875rem, 1.125rem);
    position: absolute;
    right: -17px;
    top: -10px;

    border-radius: 0.5625rem;
    background: #FFF;

    width: 1.3125rem;
    height: 1.125rem;

}

