@import "../vars.scss";


.origin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: nowrap;

    @include font(1.125rem, 1.75rem);
    background-color: $secondary;
    padding: 1.31rem 2.13rem;
}

.light {
    @include font(1.125rem, 1.875rem);
    background: transparent;
    padding: 1rem 1.94rem;

    border: 1px solid #FFF;

}

@media (max-width: 918px) {
    .origin{
        padding: 10px 20px;
    }
    .light {
        padding: 10px 20px;
    }
}