@import "../vars.scss";


.origin {
    @include font(1.125rem, 1.75rem);
    background-color: $secondary;
    padding: 1.31rem 2.13rem;
}

.light {
    @include font(1.125rem, 1.875rem);
    background: transparent;
    padding: 1rem 1.94rem;

    border: 1px solid #FFF;

}