@import "../vars.scss";

.list {
    position: absolute;
    left: -175px;

    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3.37rem;
    transform: rotate(-90deg);

    li a {
        @include font(0.625rem, 1.5625rem, #80858F);
        text-transform: uppercase;
    }
}