@import "../vars.scss";

.boxLinks {
    margin-top: 23px;

    h4 {
        @include font(1.125rem, 1.875rem);
        text-transform: capitalize;

        margin-bottom: 23px;
    }


    li {
        height: 38px;
    }

    li a {
        @include font(0.9375rem, 2.34375rem, #999);
        text-transform: capitalize;
    }
    
}
