.gallery {
    display: flex;
    column-gap: 19px;
}

.choice {
    width: auto;
    height: auto;
    padding: 11px;

    border-radius: 20px;
    background-color: rgba($color: #000000, $alpha: 0);
    transition: background-color ease-in-out .5s;
    
}

.choice.active {
    background-color:#3B3D46;
}

