@import "../vars.scss";

.heading {

    @include font(4.5rem, 5.375rem);
    text-transform: capitalize;
}

.headingDecoration {
    @include font(1.4375rem, 2.125rem);
    text-transform: capitalize;
}

.headingH3 {
    @include font(2.25rem, 2.875rem);
}

@media (max-width: 918px) {
    .heading{
        font-size: 48px;
    }
}