.cardMax {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-between;
}

.card {
    @extend .cardMax;

    width: 312px;
    height: 321px;
    flex-shrink: 0;
}