.footer {
    background-color: #222730;
    width: auto;
    height: auto;
    padding-top: 129px;
    padding-bottom: 175px;
}

.shortInformation{
    display: flex;
    flex-flow: column;
}

.wrapper {
    display: flex;
    column-gap: 150px;
    align-items: center;
    /*129 175*/
}

@media (max-width: 1034px) {
    .wrapper{
        column-gap: 10%;
    }
}

@media (max-width: 900px) {
    .footer {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .wrapper{
        column-gap: normal;
        justify-content: space-between;
    }
}

@media (max-width: 725px) {
    .wrapper{
        flex-flow: column;
        align-items: flex-start;
    }
}